*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #232323;
    font-family: 'Montserrat', sans-serif;
    width: 1150px;
    margin: auto;
}

/* header */
/* navigation-bar */
header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
header .navbar .navbar-brand img{
    width: 70px;
}
header .navbar .navbar-nav, .sosial-media{
    list-style: none;
    display: flex;
    gap: 30px;
}
header .navbar .navbar-nav li a{
    color: #fff;
    text-decoration: none;
}
header .navbar .navbar-nav li a:hover{
    color: #F07246;
    transition: 0.5s;
}
header .navbar .sosial-media li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}
header .navbar .sosial-media li a:hover{
    color: #F07246;
    transition: 0.5s;
}
/* navigation-bar */
/* header */

main #home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
main #home .point-header h2{
    color: #4B4B4B;
    font-size: 4em;
    font-weight: 800;
}
main #home .point-header h1{
    color: #fff;
    font-size: 5em;
    line-height: 92%;
    font-weight: 900;
    margin-bottom: 20px;
}
main #home .point-header h1>span{
    color: #F07246;
}
main #home .point-header a{
    color: #fff;
    background-color: #F07246;
    padding: 8px 20px;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid #F07246;
}
main #home .point-header a:hover{
    color: #F07246;
    background-color: transparent;
    border: 2px solid #F07246;
    transition: 0.5s;
}
main #home .picture1 img{
    width: 400px;
}
