*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #232323;
    font-family: 'Montserrat', sans-serif;
    
}

/* header */
/* navigation-bar */
header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 1150px;
    margin: auto;
}
header .navbar a>img{
    width: 70px;
}
header .navbar .navbar-nav, .sosial-media{
    list-style: none;
    display: flex;
    gap: 30px;
}
header .navbar .navbar-nav li a{
    color: #fff;
    text-decoration: none;
}
header .navbar .navbar-nav li a:hover{
    color: #F07246;
    transition: 0.5s;
}
header .navbar .sosial-media li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}
header .navbar .sosial-media li a:hover{
    color: #F07246;
    transition: 0.5s;
}
/* navigation-bar */
/* header */

/* main */
/* home */
main #home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 1150px;
    margin: auto;
}
main #home .point-header h2{
    color: #4B4B4B;
    font-size: 4em;
    font-weight: 800;
}
main #home .point-header h1{
    color: #fff;
    font-size: 5em;
    line-height: 92%;
    font-weight: 900;
    margin-bottom: 20px;
}
main #home .point-header h1>span{
    color: #F07246;
}
main #home .point-header a{
    color: #fff;
    background-color: #F07246;
    padding: 8px 20px;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid #F07246;
}
main #home .point-header a:hover{
    color: #F07246;
    background-color: transparent;
    border: 2px solid #F07246;
    transition: 0.5s;
}
main #home .picture1 img{
    width: 400px;
}
/* end-home */

/* about me */
main #about-me {
    height: 650px;
    width: 100%;
    background-color: #1f1f1f;
}
main #about-me h1{
    color: #F07246;
    flex-direction: row;
    text-align: center;
    padding-top: 40px;
    font-size: 2em;
}
main #about-me .content2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    margin: auto;
}
main #about-me .content2 img{
    width: 500px;
    margin-right: 50px;
}
main #about-me article p{
    color: #fff;
    font-weight: 500;
    line-height: 140%;
}
main #about-me article p>span{
    color: #F07246;
    font-weight: 800;
}
main #about-me article .sosial-media li a{
    color: #fff;
    font-size: 1.7em;
}
main #about-me article .sosial-media li a:hover{
    color: #F07246;
    transition: 0.5s;
}

/* content my portofolio */
main #portofolio{
    width: 1150px;
    margin: auto;
    height: 650px;
}
main #portofolio h1{
    text-align: center;
    color: #F07246;
    font-size: 2em;
    padding: 30px 0px;
}
main #portofolio .content3{
    display: flex;
    justify-content: center;
    gap: 50px;
}
main #portofolio .portofolio1{
    background-color: #fff;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
}
main #portofolio .portofolio1 h4{
    text-align: center;
    padding-top: 10px;
}
main #portofolio .portofolio1 img{
    width: 300px;
}
main #portofolio .portofolio2{
    background-color: #fff;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
}
main #portofolio .portofolio2 h4{
    text-align: center;
    padding-top: 10px;
}
main #portofolio .portofolio2 img{
    width: 300px;
}
main #portofolio .btn-more-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
main #portofolio .btn-more-info a{
    background-color: #F07246;
    color: #fff;
    text-decoration: none;
    padding: 8px 30px;
    border: 2px solid #F07246;
    border-radius: 20px;
    margin-top: 30px;
}
main #portofolio .btn-more-info a:hover{
    background-color: transparent;
    color: #F07246;
    transition: 0.5s;
    border: 2px solid #F07246;
}
/* end portofolio */

/* content skill */
main #skill{
    height: 300px;
    width: 100%;
    background-color: #1f1f1f;
    
}
main #skill h1 {
    text-align: center;
    color: #F07246;
    font-size: 2em;
    padding: 30px 0px;
}
main #skill .content4{
    display: flex;
    padding: 0px 6px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 1150px;
    margin: auto;
}
main #skill .content4 img{
    width: 180px;
    height: 120px;
}
/* end skill */
/* end main */

/* footer */
footer{
    background-color: #F07246;
}
footer h1{
    text-align: center;
    padding: 30px 0px;
    color: #fff;
}
footer .content5{
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 1150px;
    margin: auto;
    margin-bottom: 20px;
}
footer .content5 .call-me h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
footer .content5 .call-me h3>ion-icon{
    font-size: 1.2em;
}
footer .content5 .email-me h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
footer .content5 .email-me h3>ion-icon{
    font-size: 1.2em;
}
footer .content5 .github-me h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
footer .content5 .github-me h3>ion-icon{
    font-size: 1.2em;
}
footer .content5 .call-me p a{
    text-decoration: none;
    color: #fff;
}
footer .content5 .github-me p a{
    text-decoration: none;
    color: #fff;
}
footer .content5 .email-me p a{
    text-decoration: none;
    color: #fff;
}
footer .copyright{
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding-bottom: 10px;
}


